html {
    background-color: rgb(32, 32, 32);
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

#overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    justify-content: center;
}

header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 50%;
    height: auto;
    margin: 0;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    padding: 4px;
}

nav ul li a {
    text-decoration: none;
    font-size: 24px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

ul {
    padding: 0;
    text-align: left;
}

li {
    margin: 5px 0;
}

a {
    color: #ff0000;
}

section {
    width: 90%;
    text-align: start;
}

section ul{
    padding-left: 20px;
}

footer {
    padding: 0 20px 20px;
}

.project a {
    text-decoration: none;
    font-size: 24px;
    display: block;
    margin: 10px 0;
}

.project img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.project p {
    font-size: 18px;
    margin: 10px 0;
}