html {
    background-color: rgb(32, 32, 32);
    font-size: large;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: fixed;
}

#overlay {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    justify-content: center;
}

#overlay, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding-top: 1rem;
}

header img {
    max-width: 50%;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0 0 0.5rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    padding: 0 0.5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: xx-large;
}

h1 {
    font-size: xxx-large;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    margin: 1rem 0;
}

ul {
    padding: 0;
    text-align: start;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #ff0000;
}

section {
    width: 90%;
    text-align: start;
}

section a {
    font-size: large; /* We really shouldn't need to specify this as it *should* inherit from root html element*/
}

section ul{
    padding-left: 1.5rem;
}

footer {
    padding: 0 2rem 2rem;
}

.project a {
    text-decoration: none;
    font-size: xx-large;
    display: block;
    margin: 1rem 0;
}

.project img {
    max-width: 100%;
    padding-top: 1rem;
    margin: 0 auto;
    display: block;
    border-radius: 1.5rem;
}